@page
@model MinaCoolProgekt.Pages.IndexModel
@{
    ViewData["Title"] = "Хоме паге";
}

<div class="text-center">
    <h1 class="display-4">Здарова салага!</h1>
    <p>Это моя помойка, жду оценочку.</p>
</div>